* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --light-theme-text: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);
  --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);
}
html{
  font-size: clamp(14px, 1vw + 0.2rem, 20px);
}

/* Light theme styling */
body {
  background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
}
#root {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  color: var(--light-theme-text);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  background-color: var(--Neutral-0);
  margin: 1rem 0 2rem 0;
  border-radius: 10px;
  box-shadow: 0 1px 4px var(--Neutral-200);
  border: 1px solid transparent;
}
header button {
  padding: 0.7rem;
  width: 50px;
  background-color: var(--Neutral-100);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
header button:hover{
  background-color: var(--Neutral-300);
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;
}
nav h2 {
  font-size: clamp(24px, 4vw, 35px);
  flex-grow: 1;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.nav-menu li {
  background-color: var(--Neutral-0);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  box-shadow: 0 1px 4px var(--Neutral-200);
  cursor: pointer;
  border: 1px solid transparent;
}
.nav-menu li:hover{
  opacity: 0.7;
}
.btn {
  background-color: var(--Neutral-0);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid var(--Neutral-300);
  font-weight: 600;
  font-family: 'Noto Sans',sans-serif;
  transition: 0.2s;
}
.btn:hover{
  background-color: var(--Red-700);
  color: var(--Neutral-100);
  border: 1px solid transparent;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: 0;
  gap:1em;
}
.card-article{
  display: flex;
  padding:0.7rem;
  width: 32%;
  flex-direction: column;
  justify-content: space-between;
  gap:1.5rem;
  border: 1px solid transparent;
  background-color: var(--Neutral-0);
  border-radius: 10px;
  box-shadow: 0 1px 4px var(--Neutral-200);
}
.card-text{
  display: flex;
  gap:1em;
}
.card-text img{
  width: 55px;
  height: 55px;
}
.card-content h3{
  margin-bottom: 0.7rem;
  font-weight: bold;
}
.card-description{
  max-width: 100%;
  font-weight: 400;
  font-size: 0.85rem;
  color: var(--Neutral-600);
}
.card-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 100%;
}


/* Nav controls styling */
.onActive{
  background-color: var(--Red-500) !important;
  color: var(--Neutral-100);
  opacity: 1 !important;
}



/* toggle switch */
/* The switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 26px;
  padding-bottom: 0.2rem;
}

/* Hide the checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
}

/* Circle knob */
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.25s;
  border-radius: 50%;
}

/* When checked */
.switch input:checked + .slider {
  background-color: var(--Red-500) !important;
}

/* Move the knob when checked */
.switch input:checked + .slider::before {
  transform: translateX(17px);
}


/* Dark theme styling */
body.dark{
  background:linear-gradient(180deg, #040918 0%, #091540 100%) !important;
}
body.dark header .logo-text{
  fill:var(--Neutral-100);
}
body.dark header button{
  background-color: var(--Neutral-700);
}
body.dark header button .moon{
  stroke: var(--Neutral-100);
}
body.dark header{
  background-color: var(--Neutral-800);
  border: 1px solid transparent;
  box-shadow: none;
}
body.dark nav h2{flex-wrap: wrap;
  color: var(--Neutral-100);
}
body.dark .nav-menu li{
  background-color: var(--Neutral-700);
  color:var(--Neutral-0);
  box-shadow: 0 0 2px var(--Neutral-300) ;
}

body.dark .card-article{
  background-color: var(--Neutral-800);
  box-shadow: 0 0 2px var(--Neutral-300) !important;
}
body.dark .card-content h3{
  color: var(--Neutral-100);
}
body.dark .card-description{
  color: var(--Neutral-300);
}
body.dark .btn{
  background-color: transparent;
  color:var(--Neutral-100);
  border: 1px solid var(--Neutral-600) !important;
}
body.dark .btn:hover{
  background-color: var(--Red-400);
  color: var(--light-theme-text);
  border: 1px solid transparent !important;
}
body.dark .slider{
  background-color: var(--Neutral-600);
}
body.dark .onActive{
  border: 1px solid transparent !important;
  color: var(--light-theme-text) !important;
}
@media (max-width:1074px) {
  .card-article{
    flex-grow: 1;
  }
}
@media (max-width:739px) {
  .cards-container{
    flex-direction: column;
  }
  .card-article{
    width: 100%;
  }
}
@media (max-width:514px){
  nav{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .nav-menu li{
    margin-right: 0.5rem;
  }
}